* {
	margin: 0;
	padding: 0;
	/* background-color: #141b1f; */
	/* background: gray; */
	font-family: 'Montserrat';
}
.header {
	background-image: linear-gradient(#223036, #141b1f);
	/* background-color: #243036; */
	/* height: 25vw; */
	display: flex;
	justify-content: space-around;
	align-items: center;
	transition: 200ms ease-in-out;
}
.title {
	margin: 1rem;
	height: clamp(1rem, 15vw, 5rem);
	transition: 230ms ease-in-out;
}
.headerlinks a {
	color: aliceblue;
	text-decoration: none;
	font-weight: bold;
	padding: 1rem;
}
body {
	background-color: #141b1f;
}
.centerContent {
	background-color: #141b1f;

	/* background: #000; */
	margin: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.centerTitle {
	color: aliceblue;
	margin: 2rem;
	/* background: blue; */
}
.first {
	/* background: red; */
	font-size: clamp(0.5rem, 10vw, 8rem);
	font-weight: 700;
	/* margin-bottom:clamp; */
	transition: 230ms ease-in-out;
}
.second {
	background: orange;
	text-align: end;
	font-size: clamp(0.5rem, 10vw, 8rem);
	font-weight: 700;
	/* margin-top:-2.5rem ; */
	transition: 250ms ease-in-out;
}
.quote {
	text-align: end;
	color: darkorange;
	font-size: clamp(0.5rem, 6vw, 4rem);
	transition: 330ms ease-in-out;
}
.title:hover {
	height: clamp(1.8rem, 17vw, 6.8rem);
	cursor: pointer;
}
.headerlinks a:hover {
	background-color: orange;
	border-radius: 0.5rem;
}
